/* Adds border to summary when screen width is over 992px */
@media screen and (min-width:992px) {
    .col-bordered {
        border-right: 1px solid #cecece;
    }

    .col-bordered:last-child {
        border-right: none;
    } 
    .col-bordered-145 {
        height: 145px;
        border-right: 1px solid #cecece;
    }

    .col-bordered-145:last-child {
        border-right: none;
    }

    
}

body, html {
    height: 100%;
    margin: 0px;
}

/* background image for case study pages */
#casestudy {
    background-color: white;
}

/* nav bar for menu */
.header {
    height: 10%;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    padding: 0;
}

.form-area {
    width: 50%;
    margin: auto;
}

.menu_links li {
    display: inline;
    padding: 20px;
}

/* menu links */
li a {
    text-decoration: none;
    font-family: "montserrat";
    color: #000000;
    text-transform: uppercase;
}

.header img {
    width: 10%;
}

/* hover for menu links */
a:hover {
    text-decoration: underline;
}

.menu {
    width: 960px;
    text-align: center;       
}

.menu_links {
    margin-bottom: 0;
}


.hero-image {
    background-color: #F67280;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 0;
    margin: 0;
}

.hero-text {
    color: white;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1 {
    font-family: "montserrat";
    font-size: 48px;
}

.hero-text p {
    font-family: "Lora";
    font-size: 18px;
}

.about-text {
    color: white;
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
}

.about-text h1 {
    font-family: "montserrat";
    font-size: 48px;
}

.about-text p {
    font-family: "Lora";
    font-size: 18px;
}

.contact-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.email {
    font-weight: bold;
}

.contact-text h1 {
    font-family: "montserrat";
    font-size: 48px
}

.contact-text p {
    font-family: "Lora";
    font-size: 18px;
    width: 100%;
}

.summary {
    margin: 4% 0;
}

/* div for portfolio section */
.portfolio {
    background-color: white;
    background-position: center;
    background-repeat: repeat;
    position: relative;
    padding: 0;
    margin: 0;
}

figure {
    margin: 5% 0 10% 0;
}

figcaption {
    padding-top: 10px;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10%;
}


.large_section {
    margin-top: 10%;
    margin-bottom: 10%;
}

/* container for portfolio images */
.mywork {
    text-align: center;
}

.about {
    background-color: #6C5B7B;
/*    height: 100%;*/
/*    background-position: center;*/
/*    background-repeat: repeat;*/
    position: relative;
    padding: 12em;
    margin: 0;
}

.contact {
    background-color: #2e9598;
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    position: relative;
    padding: 0;
    margin: 0;
}

hr {
    margin: 0 auto;
}

h1 {
    margin: 0;
}

footer {
    height: 20%;
    position: relative;
}

.footer-text {
    text-align: center;
    font-family: "lora";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    font-size: 18px;
}

.footer-text p {
    text-align: center;
    font-family: "Lora";
    font-size: 18px;
}

/* main div that contains all contents for case study pages */
.case-content {
    width: 80%;
    margin: auto;
}

/* Main title */
.content-heading h1 {
    text-align: center;
    padding-top: 110px;
    margin-top: 0;
    font-family: "montserrat";
    font-size: 44px ;
    text-transform: uppercase;
}

/* Sub-title */
.content-heading h4 {
    font-family: "Lora";
    font-size: 18px;
    text-align: center;
}

/* Main hero image for case study page */
.main_img img {
    margin-top: 25px;
    max-width: 100%;
}

.main_img {
    text-align: center;
}

h2 {
    font-family: "montserrat";
    text-transform: uppercase;
    font-size: 38px;
    text-align: center;
}

.overview p {
    font-family: "lora";
    font-size: 18px;
    line-height: 30px;
    width: 75%;
    margin: 3% auto;
}

.overview h2 {
    margin: 3%;
    font-size: 38px;
}

.content-process h2 {
    margin: 0% 0 5% 0;
    font-size: 38px;
}
.content-process img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Main Text for content */
.content-process .main {
    font-family: "montserrat";
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
}

.section .portrait_img {
    image-orientation: -90deg;
}

/* Text container for all sections */
.section {
    width: 75%;
    margin: auto;
    margin-bottom: 1%;
}

.section img {
    width: 100%;
    margin: auto;
}

.section h2 {
    font-family: "montserrat";
    font-size: 36px;
    margin: 0 0 4% 0;
}

.section h3 {
    font-size: 28px;
    margin: 5% 0 5% 0;
}
.section h4 {
    font-family: "montserrat";
    font-size: 18px;
    margin-bottom: 5%;
    margin-top: 0%;
}


.section p {
    font-family: "lora";
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 5%;
}

.section .wt_process {
    width: 80%;
}

.section .beforeafter {
    width: 100%;
}

.wtpricing {
    margin: 4% -20%;
}

.content-quote {
    text-align: center;
    width: 80%;
    font-family: "lora";
    font-size: 2.7em;
    font-weight: bold;
    font-style: italic;
}

.content-quote p {
    margin: auto;
}

.quote-div {
    width: 15%;
    border-top: 1px solid #cecece;
}

.image {
    padding: 10px;
}

.artifacts {
    margin: -2%;
}

.footer-text a {
    margin: auto;
}

.linkedin {
    width: 30px;
}

.rsrow {
    width: 970px;
    margin: auto;
}

.row p {
    font-family: "lora";
}

.row li {
    font-family: "lora";
}

.lists li {
    margin: 2%;
}

.resume {
    color: white;
    text-decoration: underline;
}

/*top row of portfolio work imgs on main page*/
.portfolio-boxes {
    margin: 5% 0 4% 0;
}

.container-max-width {
    max-width: 970px;
}

.title p {
    font-size: 1.3em;
    font-weight: bold;
}

.content-process .rs-img {
    width: 150px;
}

/* iframe responsive */
.marvel-container iframe {
  width: 100%;
  height: 100vh;
}

.prototype {
    margin-bottom: 4%;
}

/*my other work */
.col-md-6 .icons {
    width: 360px;
}
/*.img-overlay img {
   z-index: -1;
}
.readysurgery-overlay {
    width: 100%;
    height: 220px;
    bottom: .3rem;
    background-color: black;
    z-index: 1;
    opacity: 0.5;
    position: absolute;
    left: 0px;
    top: 0px;
    display:none;
}*/

.portfolio-caption {
    margin: 3% 0 5% 0;
}

.drawings {
    margin-top: 10%;
}

/*WeTravel*/

.lists {
    margin-bottom: 4%;
}

.lists ol {
    margin: auto;
    width: 75%;
}

.lists ul {
    margin: auto;
    width: 75%;
}

.lists li {
    font-family: "Lora";
    font-size: 18px;
}

.card {
    border: 1px solid black;
}
.iteration img {
    width: 500px;
}

hr {
    width: 400px;
}

.offset-wrapper {
    position: relative;
}

.offset-target {
    position: absolute;
    top: -65px;
    
}

body, html, .header {
    min-width: 480px;
}

img {
    max-width: 100%;
}

.bear img {
    width: 200px;
}

